.listProducts {

    td,
    th {
        border: 1px solid black;
        
    }
   
    text-align: center;
    width: 500px;
    margin-left: 300px;

    button {
        background-color: black;
        color: red;
        cursor: pointer;
        margin-top: 20px;

    }

    button:hover {
        background-color: white;
        color: red;
    }

    img {
        width: 200px;
        height: 100px;
    }
}

.cart {

    td,
    th {
        border: 1px solid black;
    }

    text-align: center;
    width: 500px;
    margin-left: 300px;

    button {
        background-color: black;
        color: red;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    button:hover {
        background-color: white;
        color: red;
    }
}